[project]
	description = "Automatically wraps global dependencies into an Angular injectable.  Works for most libraries that support requirejs."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ben Tesser (btesser)
[access "refs/for/refs/*"]
	read = group user/Ben Tesser (btesser)
	push = group user/Ben Tesser (btesser)
	label-Code-Review = -2..+2 group user/Ben Tesser (btesser)
	label-Verified = -1..+1 group user/Ben Tesser (btesser)
	rebase = group user/Ben Tesser (btesser)
	removeReviewer = group user/Ben Tesser (btesser)
	submit = group user/Ben Tesser (btesser)
[access "refs/heads/*"]
	read = group user/Ben Tesser (btesser)
	create = group user/Ben Tesser (btesser)
	push = +force group user/Ben Tesser (btesser)
	pushMerge = group user/Ben Tesser (btesser)
[access "refs/tags/*"]
	push = +force group user/Ben Tesser (btesser)
	pushTag = group user/Ben Tesser (btesser)
	pushSignedTag = group user/Ben Tesser (btesser)
